{{ 'edit-profile.css' | asset_url | stylesheet_tag }}

<script src="{{ 'edit-profile.js' | asset_url }}" defer="defer"></script>


<!-- The Modal -->
<div id="editProfileModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <form class="custom-account-form" id="custom-account-form">
      <h2>Edit Profile</h2>
        <input type="hidden" name="form_type" value="customer">
        <input type="hidden" name="utf8" value="✓">
      
        <input type="hidden" id="customerID" name="customer[id]" value="{{ customer.id }}">
        
        <label for="FirstName">First Name *</label>
        <input type="text" id="FirstName" name="customer[first_name]" value="{{ customer.first_name }}">
      
        <label for="LastName">Last Name *</label>
        <input type="text" id="LastName" name="customer[last_name]" value="{{ customer.last_name }}">
        
        <label for="Email">Email Address *</label>
        <input type="email" id="Email" name="customer[email]" value="{{ customer.email }}" readonly>
      
         <!-- Phone Number (Optional) -->
            <label for="Phone">Phone Number</label>
            <input type="tel" id="Phone" name="customer[phone]" value="{{ customer.phone }}">
      
        <!-- <label for="Password">New Password (leave blank to keep current password)</label>
        <input type="password" id="Password" name="customer[password]"> -->
        <div id="error-message"></div>
        <span class="edit-form-ajax-validation" id="success-message" style="display:none;"></span>
        <button type="submit">Save</button>
        
      </form>
  </div>
</div>