{{ 'section-faq.css' | asset_url | stylesheet_tag }}
{{ 'section-faq.js' | asset_url | script_tag }}

<section class="py-60">
    <div class="container text-control-1">
      <h2>{{ section.settings.headline }}</h2>
      <div class="faqs-section">
        {% for block in section.blocks %}
            <div class="faq accordion">
            <div class="question-wrapper">
                <div class="d-flex align-items-center"><span class="q-mark d-block">Q.</span>
                <p class="question" title="">
                    {{ block.settings.question }}</p>
                </div><i class="material-icons drop">expand_more</i>
            </div>
            <div class="answer-wrapper {{ forloop.index }}">
                <p class="answer">{{ block.settings.answer }}</p>
            </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </section>


{% schema %}
    {
        "name": "FAQ",
        "settings": [
            {
                "type": "text",
                "label": "Headline",
                "id": "headline"
            }
        ],
        "blocks": [
            {
                "name": "question",
                "type": "question",
                "settings": [
                    {
                        "type": "text",
                        "label": "question",
                        "id": "question"
                    },
                    {
                        "type": "text",
                        "label": "answer",
                        "id": "answer"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "FAQ"
            }
        ]
    }
{% endschema %}