<style>
/* Custom styles for the account form */
.custom-account-form {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* background-color: #f7f7f7; */
}

.custom-account-form .form-group {
  margin-bottom: 20px;
}

.custom-account-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.custom-account-form button {
  display: block;
}

.custom-account-form .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #555;
}

.custom-account-form .btn-primary {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-account-form .btn-primary:hover {
  background-color: #0056b3;
}
</style>

<form class="custom-account-form" id="custom-account-form">
<h2>Edit Profile</h2>
  <input type="hidden" name="form_type" value="customer">
  <input type="hidden" name="utf8" value="✓">

  <input type="hidden" id="customerID" name="customer[id]" value="{{ customer.id }}">
  
  <label for="FirstName">First Name *</label>
  <input type="text" id="FirstName" name="customer[first_name]" value="{{ customer.first_name }}">

  <label for="LastName">Last Name *</label>
  <input type="text" id="LastName" name="customer[last_name]" value="{{ customer.last_name }}">
  
  <label for="Email">Email Address *</label>
  <input type="email" id="Email" name="customer[email]" value="{{ customer.email }}" readonly>

   <!-- Phone Number (Optional) -->
      <label for="Phone">Phone Number</label>
      <input type="tel" id="Phone" name="customer[phone]" value="{{ customer.phone }}">

  <label for="Password">New Password (leave blank to keep current password)</label>
  <input type="password" id="Password" name="customer[password]">

  <button type="submit">Save</button>
</form>

<script>
  // Handle form submission
document.getElementById('custom-account-form').addEventListener('submit', function(event) {
  event.preventDefault();
  
  // Get the value from the input field
  var tin_number = document.getElementById('tin_number').value;
  var orderId = document.getElementById('orderId').value;
  var fieldValid = document.getElementsByClassName('modal-form-error')[0];
  var formTINValid = document.getElementsByClassName('modal-form-tin-validation')[0];
  var ajaxMessage = document.getElementsByClassName('modal-form-ajax-validation')[0];
  var flag = true;
  console.log(orderId);
  if(tin_number === '') {
    fieldValid.style.display = "block";
    flag = false;
  }else{
    fieldValid.style.display = "none";
  }

  if (!validateMalaysiaTIN(tin_number)) {
    flag = false;
    formTINValid.style.display = "block";
  }else{
    formTINValid.style.display = "none";
  }

  if(flag) {
    // Make an AJAX request to update the order metafield
    fetch('http://localhost:3000/edit-profile', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        orderId: orderId,
        formFieldValue: tin_number
      })
    })
    .then(response => response.json())
    .then(data => {
      console.log('Success:', data);
      ajaxMessage.textContent = "The Profile has been updated";
      ajaxMessage.style.display = "block";
    })
    .catch((error) => {
      ajaxMessage.textContent = error;
      ajaxMessage.style.display = "block";
      console.log('Error:', error);
    });
  }
});
</script>